ul{
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
  position: fixed;
  width: 100%;
  top:0;
 box-shadow:5px 5px 5px 2px rgb(171,183,183) ; 
}
li{
float:left;
}
li a{
 display: block;
  padding: 8px;
 color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 5px;
  font-family:sans-serif;
}
li a:hover{
  background-color: rgb(191,191,191);
}

.head{
opacity: 0.5;
position: absolute;
bottom: 8px;
left: 16px;
letter-spacing:5px;
font-family: serif;
}
.im{
    
    margin-left:200px;
    margin-top:50px;
    opacity:0.7;
}
.about{
 position: absolute;
    right:325px;
    top:800px; 
    letter-spacing: 5px;
    font-family:Serif;
    font-size: 40px;
    font-weight:300;
}
.para{
 padding-left: 720px; 
    position: absolute;
 margin:40px;
 margin-right: 200px;
    top:950px;
    display: block;
    float: right;
    font-family:"Times New Roman", Georgia, Serif;
    font-size: larger;
    text-align: left;
    line-height: 30px;
}
.trad{
    
     position: absolute;
    right:350px;
    top:870px;
    letter-spacing: 5px;
    font-family:Serif;
    font-size: 20px;
    line-height: 110px;
    font-weight: 200;
}
.second{
 padding-left: 758px;
 position: absolute;
 top:1200px;
 display: block;
 font-family: "Times New Roman", Georgia, Serif;
 font-size: larger;
 margin-right: 200px;
 color:grey;
 line-height: 29px;
}
.im2{
 
 margin-left: 800px;
 opacity:0.7;
 margin-top:100px; 
}
hr{
 border:1px thin grey;
 width:70%;
 opacity:0.5;
margin-top:50px;
}
.menuhead{
 position: absolute;
 padding-left: 400px;
  top: 1750px;
 font-family:Serif;
 letter-spacing: 5px;
 font-weight: 300;
 font-size: 35px;
}
.one{
 position: absolute;
 top:1850px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
 letter-spacing: 5px;
 font-size: larger;
}
.sec{
  position: absolute;
 top:1890px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
color:grey; 
 
}
.third{
  position: absolute;
 top:1960px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
 letter-spacing: 5px;
 font-size: larger;
}
.fourth{
   position: absolute;
 top:2010px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
color:grey; 
}
.fifth{
   position: absolute;
 top:2080px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
 letter-spacing: 5px;
 font-size: larger;
}
.sixth{
    position: absolute;
 top:2130px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
color:grey; 
 
}
.seventh{
 
 position: absolute;
 top:2200px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
 letter-spacing: 5px;
 font-size: larger;
 
}
.eighth{
   position: absolute;
 top:2250px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
color:grey; 
}
.ninth{
  position: absolute;
 top:2320px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
 letter-spacing: 5px;
 font-size: larger;
}
.tenth{
 position: absolute;
 top:2370px;
 padding-left: 240px;
 font-family: "Times New Roman", Georgia, Serif;
color:grey; 
}
.horoz{
 border:1px thin grey;
 width:70%;
 opacity:0.5;
margin-top:50px;
}
.contacts{
 position: absolute;
 padding-left: 240px;
  top: 2600px;
 font-family:Serif;
 letter-spacing: 5px;
 font-weight: 300;
 font-size: 35px; 
}
.offer{
 position: absolute;
 padding-left: 240px;
  top: 2700px;
}
.service{
 position: absolute;
 padding-left: 240px;
  top: 2760px;
  color:#54738C;
}
.can{
 position: absolute;
 padding-left: 240px;
  top: 2810px;
}
.name{
  position: absolute;
  padding:16px;
  width:70%;
 margin-left: 240px;
  top: 2860px;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom-color: rgba(210,215,211,1);
 
}

.people{
  margin-top:15px;
  position: absolute;
  padding:16px;
  width:70%;
 margin-left: 240px;
  top:2910px;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom-color:rgba(210,215,211,1);
}
.date{
 margin-top:15px;
  position: absolute;
  padding:16px;
  width:70%;
 margin-left: 240px;
  top:2960px;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom-color: rgba(210,215,211,1);
}
.message{
  margin-top:30px;
  position: absolute;
  padding:16px;
  width:70%;
 margin-left: 240px;
  top:3010px;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom-color: rgba(210,215,211,1);
}
.submit{
  margin-top:50px;
  position: absolute;
  padding:8px;
  width:10%;
 margin-left: 240px;
  top:3060px;
  border:none;
  font-style:normal;
  font-weight: 400;
}
.foot{
 width:1511px;
 height:100px;
 position: absolute;
 top:3250px;
 text-align: center;

 background-color: rgba(236,236,236,1);
}